In [2]:
# Dependencies
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [130]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [131]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

browser.visit(url)

In [137]:
html = browser.html
soup = bs(html, 'html.parser')

In [139]:
# find the title
title_options = soup.find_all('div', class_='list_text')
news_title = title_options[0].a.text
print(news_title)
#find paragraph
paragraph_options = soup.find_all('div', class_='list_text')
news_p = paragraph_options[0].get_text()
print(news_p)

"October 27, 2020NASA's Perseverance Rover Is Midway to Mars Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

In [141]:

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped

url_jpl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(url_jpl)

html = browser.html
soup = bs(html, 'html.parser')

In [166]:
featured_image_url = 'jpl.nasa.gov' + soup.find('img', alt ='Crater Rim Channels')['src'] 

featured_image_url

'jpl.nasa.gov/spaceimages/images/wallpaper/PIA24182-640x350.jpg'

In [49]:
url_3 = 'https://space-facts.com/mars/'
tables = pd.read_html(url_3)
mars_df = tables[0]
mars_df.columns=['Variable', 'Value']
print(mars_df)

               Variable                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
mars_to_html = mars_df.to_html()
print(mars_to_html)
# mars_to_html.replace('\n', '')

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [17]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped

url_mars_img = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(url_mars_img)

html = browser.html
soup = bs(html, 'html.parser')

In [103]:
#get titles
hemisphere_titles = []
all_titles = soup.find_all('div', class_='collapsible results')
title = all_titles[0].find_all('h3')
title
for i in title:
    hemisphere_titles.append(i.text)

hemisphere_titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [104]:
#find urls
img_group = all_titles[0].find_all('a')
img_links = []

for img in img_group:
    if(img.img):
        img_url = 'https://astroleology.usgs.gov/' + img['href']

        img_links.append(img_url)
img_links

['https://astroleology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced',
 'https://astroleology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astroleology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astroleology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced']

In [117]:
#place in dict
hemisphere_image_urls = pd.DataFrame({
        'titles': [],
        'image_url': []
    })

for place in range(len(img_links)):
    hemisphere_singles = pd.DataFrame({
        'titles': [hemisphere_titles[place]],
        'image_url': [img_links[place]]
    })
    hemisphere_image_urls = hemisphere_image_urls.append(hemisphere_singles)
    
hemisphere_image_urls

,titles,image_url
0,Cerberus Hemisphere Enhanced,https://astroleology.usgs.gov//search/map/Mars...
0,Schiaparelli Hemisphere Enhanced,https://astroleology.usgs.gov//search/map/Mars...
0,Syrtis Major Hemisphere Enhanced,https://astroleology.usgs.gov//search/map/Mars...
0,Valles Marineris Hemisphere Enhanced,https://astroleology.usgs.gov//search/map/Mars...